<!DOCTYPE html>
<html lang="en">

<head>	
	<title>FrontEnd Starter</title>

	<meta charset="utf-8">
	<meta name="author" content="github.com/zakandaiev">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<meta name="description" content="">
	<meta name="keywords" content="">

	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:keywords" content="">
	<meta property="og:image" content="">

	<link rel="canonical" href="">
	<link rel="stylesheet" href="https://use.typekit.net/rtt7vzk.css">

	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="image_src" href="">
	
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<header id="header" class="header ">
		<div class="container">
			<div class="nav-container">
				<ul>
					<li>music</li>
					<li>videos</li>
					<li>merch</li>
					<li>subscribe</li>
				</ul>
			</div>
			<div class="social-container">
				<div class="icon">
					<img src="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/d33b2df8-a963-4b64-ffb9-41ae4701d100/public" alt="facebook">
				</div>
				<div class="icon">
					<img src="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/c1748948-948b-4d92-ae40-c085fe557e00/public" alt="twitter">
				</div>
				<div class="icon">
					<img src="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/8e2e1fb7-7afd-4c2e-7b57-4c3b9570ac00/public" alt="instagram">
				</div>
				<div class="icon">
					<img src="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/5c28ca18-adf9-43f4-2f86-ea6e4bf98f00/public" alt="youtube">
				</div>
			</div>
			</div>
		</div>
	</header>

	<main class="page-content">
