<!DOCTYPE html>
<html lang="en">

<head>
	<title>FullyLoadedStan.com</title>

	<meta charset="utf-8">
	<meta name="author" content="github.com/ipeavy">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<meta name="description"
		content="The official website of fully loaded stan the section 8 baby and section8baby clothing brand">
	<meta name="keywords"
		content=" fully loaded stan, Section8baby, Section 8 baby, Fullyloadedstan, Sun dont shine, Redlight, Trending topic, At the end of the day, Providence rappers, Rhode Island Rappers, New England Rappers, Rhode Island Hip hop, New England Hip hop, Providence Hip Hop, Rhode Island Trap,  Providence trap, New England trap, Massachusetts hip hop, Massachusetts rappers, Massachusetts trap">

	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="">
	<meta property="og:title" content="FullyLoadedStan.com">
	<meta property="og:description"
		content="The official website of fully loaded stan the section 8 baby and section8baby clothing brand">
	<meta property="og:keywords"
		content="fully loaded stan, Section8baby, Section 8 baby, Fullyloadedstan, Sun dont shine, Redlight, Trending topic, At the end of the day, Providence rappers, Rhode Island Rappers, New England Rappers, Rhode Island Hip hop, New England Hip hop, Providence Hip Hop, Rhode Island Trap,  Providence trap, New England trap, Massachusetts hip hop, Massachusetts rappers, Massachusetts trap">
	<meta property="og:image" content="">
	<!-- GOOGLE ANALYTICS -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6YMKJJVWNF"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-6YMKJJVWNF");
	</script>
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				"gtm.start": new Date().getTime(),
				event: "gtm.js",
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != "dataLayer" ? "&l=" + l : "";
			j.async = true;
			j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, "script", "dataLayer", "GTM-M93KNH7");
	</script>
	<!-- MAILCHIMP FORM -->
	<script id="mcjs">
		!(function (c, h, i, m, p) {
			(m = c.createElement(h)),
				(p = c.getElementsByTagName(h)[0]),
				(m.async = 1),
				(m.src = i),
				p.parentNode.insertBefore(m, p);
		})(
			document,
			"script",
			"https://chimpstatic.com/mcjs-connected/js/users/e3939b6059e53bcadef628d4a/77e84979f509b17370e874428.js"
		);
	</script>

	<!-- mailchimp popup -->
	<script
		id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/e3939b6059e53bcadef628d4a/77e84979f509b17370e874428.js");</script>
	<link rel="canonical" href="">
	<link rel="stylesheet" href="https://use.typekit.net/rtt7vzk.css">

	<link rel="shortcut icon" href="./img/favicon-16x16.png" type="image/png" sizes="16x16">
	<link rel="shortcut icon" href="./img/favicon-32x32.png" type="image/png" sizes="32x32">
	<link rel="icon" href="./img/favicon-16x16.png" type="image/png">
	<link rel="apple-touch-icon" href="./img/favicon-32x32.png" type="image/png">
	<meta property="og:image"
		content="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/12be8079-b6aa-46be-6439-b166f27e9d00/public">
	<link rel="image_src" href="">

	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<header id="header" class="header ">
		<div class="ham-container">
			<!-- hamburger menu container -->
			<div id="ham" class="ham-menu">
				<img src="./img/stanham.svg" alt="hamburger menu">
			</div>
			<!-- side bar menu -->
			<div id="sidebarMenu">
				<!-- close btn container -->
				<div id="close" class="ham-menu">
					<img src="./img/closebtn.svg" alt="hamburger menu">
				</div>
				<!-- nav section -->
				<div class="mobile-nav-container">
					<ul class="mobile-nav-menu">
						<li class="musicLink"><a href="#music">music</a></li>
						<li class="videosLink"><a href="#videos">videos</a></li>
						<li class="merchLink"><a href="#merch">merch</a></li>
						<li class="subscribeLink"><a href="#subscribe">subscribe</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="nav-container">
				<a href="#videos">videos</a>
				<a href="#music">music</a>
				<a href="#merch">merch</a>
				<a href="#subscribe">subscribe</a>
			</div>
			<div class="social-container">
				<!-- facebook -->
				<div class="icon">
					<a target="_blank" href="https://www.facebook.com/stanley.torres.5"><img
							src="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/d33b2df8-a963-4b64-ffb9-41ae4701d100/public"
							alt="facebook"></a>
				</div>
				<!-- twitter -->
				<div class="icon">
					<a target="_blank" href="https://twitter.com/FullyLoadedStan"><img
							src="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/c1748948-948b-4d92-ae40-c085fe557e00/public"
							alt="twitter"></a>
				</div>
				<!-- instagram -->
				<div class="icon">
					<a target="_blank" href="https://www.instagram.com/fullyloadedstan/"><img
							src="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/8e2e1fb7-7afd-4c2e-7b57-4c3b9570ac00/public"
							alt="instagram"></a>
				</div>
				<!-- youtube -->
				<div class="icon">
					<a target="_blank" href="https://www.youtube.com/c/FullyLoadedStan"><img
							src="https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/5c28ca18-adf9-43f4-2f86-ea6e4bf98f00/public"
							alt="youtube"></a>
				</div>
			</div>
		</div>
		</div>
	</header>

	<main class="page-content">