.header {
	display: block;
	position: absolute;
	width: 100%;
	z-index: 100;

	.ham-container {
		.ham-menu {
			position: fixed;
			right: 2rem;
			top: 1rem;

			img {
				width: 30px;
				height: 20px;
			}
		}
	}

	#sidebarMenu {
		z-index: 102;
		position: fixed;
		overflow-y: hidden;
		height: calc(100vh + 2rem);
		padding-left: 2rem;
		width: 100%;
		top: -2rem;
		transform: translateY(-1770px);
		transition: transform 600ms ease-in-out;
		background: #212121;

		&.nonactive {
			transform: translateY(0px);
		}

		&.active {
			transform: translateY(-1770px);
		}

		.mobile-nav-container {
			ul {
				list-style-type: none;
				font-size: 2rem;
				padding: 10rem 0 0 1rem;
			}

			li {
				padding: 1rem 0;
				color: #fff;
				cursor: pointer;
			}

		}


		img {
			width: 6rem;
			height: 6rem;
		}

		.top {
			font-size: 2.3rem;
			letter-spacing: 3px;
			margin-top: -0.2rem;
		}

		.bottom {
			font-size: 1.8rem;
			margin-top: -0.2rem;
		}

		@include breakpoint(large) {
			display: none;
		}

		.ul-container {
			padding: 13rem 0;
		}
	}


	.sidebarMenuInner {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			color: #000000;
			padding: .8rem 1.5rem;
			cursor: pointer;

			a {
				color: #000000;
				cursor: pointer;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}

	// input[type="checkbox"] {
	// 	&:checked {
	// 		~ {
	// 			#sidebarMenu {
	// 				transform: translateX(0px);

	// 			}
	// 		}
	// 	}
	// }

	input[type=checkbox] {
		transition: all 0.3s;
		box-sizing: border-box;
		display: none;

		&:checked {
			~ {
				.sidebarIconToggle {
					>.horizontal {
						transition: all 0.3s;
						box-sizing: border-box;
						opacity: 0;
					}

					>.diagonal.part-1 {
						transition: all 0.3s;
						box-sizing: border-box;
						transform: rotate(135deg);
						margin-top: 8px;
					}

					>.diagonal.part-2 {
						transition: all 0.3s;
						box-sizing: border-box;
						transform: rotate(-135deg);
						margin-top: -9px;
					}
				}
			}
		}
	}

	.sidebarIconToggle {
		transition: all 0.3s;
		box-sizing: border-box;
		cursor: pointer;
		position: fixed;
		z-index: 104;
		height: 100%;
		width: 100%;
		top: 22px;
		right: 15px;
		height: 22px;
		width: 22px;

		@include breakpoint(large) {
			display: none;
		}


	}

	.spinner {
		transition: all 0.3s;
		box-sizing: border-box;
		position: absolute;
		height: 3px;
		width: 100%;
		background-color: #ffffff;
	}

	.horizontal {
		transition: all 0.3s;
		box-sizing: border-box;
		position: relative;
		float: left;
		margin-top: 3px;
	}

	.diagonal.part-1 {
		position: relative;
		transition: all 0.3s;
		box-sizing: border-box;
		float: left;
	}

	.diagonal.part-2 {
		transition: all 0.3s;
		box-sizing: border-box;
		position: relative;
		float: left;
		margin-top: 3px;

	}


	.container {
		display: none;

		@include breakpoint(large) {
			display: flex;
			padding: 0;
			max-width: 1368px;
			height: 100vh;
			align-items: center;
			flex-direction: row;
			display: flex;
			justify-content: space-between;
		}

		.nav-container {
			display: flex;
			flex-direction: row;
			z-index: 3;
			align-self: flex-start;
			height: 30px;
			margin: 20rem auto;

			a {
				color: #fff;
				padding: 1rem;
				font-size: 1.6rem;
				font-family: "Work Sans", sans-serif;

				&:hover {
					color: #DCC552;
				}
			}

		}

		.social-container {
			.icon {
				padding: 1rem;


			}

			img {
				width: 20px;
				height: 20px;

				&:hover {
					opacity: .5;
				}
			}
		}
	}
}