.header {
	display: block;
	position: absolute;
	width: 100%;
	z-index: 100;

	.container {
		display: none;
		@include breakpoint(large) {
			display: flex;
			padding: 0;
			max-width: 1368px;
			height: 100vh;
			align-items: center;
			flex-direction: row;
			display: flex;
			justify-content: space-between;
		}

		.nav-container {
			display: flex;
			flex-direction: column;
			z-index: 3;

				a {
					color: #fff;
					writing-mode: vertical-rl;
					text-orientation: vertical;
					padding: 1rem;
					font-size: 1.6rem;
					font-family: "Work Sans", sans-serif;

					&:hover{
						color: #DCC552;
					}
				}
			
		}

		.social-container {
			.icon{
				padding: 1rem;

				
			}

			img {
				width: 20px;
				height: 20px;

				&:hover{
					opacity: .5;
				}
			}
		}
	}
}