.wrapper {
    .container {
        max-width: 1368px;

        .heading {
            margin: 5rem 0 0 0;
        }

        .wallpaper-container {
            @include breakpoint(medium) {
                padding: 5rem 5rem;
            }
        }
    }
}