.wrapper {
    .main-container {
        max-width: 1368px;
        display: block;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .heading {
            margin: 5rem 0 0 0;
            width: 15rem;
            padding: 0 2rem;
        }

        .wallpaper-container {
            @include breakpoint(medium) {
                padding: 5rem;
            }

            @include breakpoint(large) {
                padding: 12rem !important;
            }

            .button-text {
                text-align: center;
                position: absolute;
                top: 73%;
                margin: 0 auto;
                width: 100%;
                right: 0%;

                @include breakpoint(medium) {
                     top: 50%;
                }
            }

            .out-btn {
                margin: 0 auto;
                width: 100%;
                max-width: 170px;
                padding: 2rem;
                color: #000000;
                font-size: 1.6rem;
                background-color: #ffffff;
                font-family: montserrat, sans-serif;
                font-style: normal;
                font-weight: 900;
                border: none;
                cursor: pointer;

                &:hover{
                    background-color: #DCC552;
                }

                @include breakpoint(medium){
                    font-size: 2.6rem;
                    max-width: 250px;
                }


            }
        }
    }
}