.merch-section {
    background-image: url("https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/294798fe-8370-4d2d-e89d-0c24ecd79c00/public");

    .merch-container {
        p {
            font-size: 4rem;
            font-family: Proxima Nova Extra Condensed, Extrabold;
        }

        button{
            background-color: transparent;
            border: solid #000000 3px;
            padding: 1rem;
            font-size: 2rem;
            font-family: Proxima Nova Extra Condensed, Extrabold;

            &:hover{
                background-color: #DCC552;
            }
        }
    }

}