.merch-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/294798fe-8370-4d2d-e89d-0c24ecd79c00/public");

    .merch-container {
        padding: 0 0 4rem 0;

        p {
            font-size: 3rem;
            color: #000000;
            font-family: montserrat, sans-serif;
            font-style: normal;
            font-weight: 900;
        }

        button {
            background-color: transparent;
            border: solid #000000 3px;
            padding: 1rem;
            font-size: 2rem;
            font-family: montserrat, sans-serif;
            font-style: normal;
            font-weight: 900;

            &:hover {
                background-color: #DCC552;
            }
        }
    }

}