.music-section {
    background-image: url("https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/2f63f48b-844e-41f9-d10f-6fd83baf5f00/public");

    .music-container {
        .music {
            background-color: none;
            color: #fff;
            padding: 1rem;

            p {
                font-size: 2.1rem;
                font-family: Proxima Nova Extra Condensed, Extrabold;
            }
        }
    }
}