.music-section {
    background-image: url("https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/2f63f48b-844e-41f9-d10f-6fd83baf5f00/public");

    .music-title {
        margin: 0 auto;

        @include breakpoint(large) {
            margin: 0;
        }
    }

    .vid-title {
        display: flex;
        flex-direction: column;

        @include breakpoint(large){
            flex-direction: row;
        }



        .social-music {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 3rem 0;
            

            @include breakpoint(large) {
                margin: 0;
                padding: 0 0 0 4rem;
            }

            img {
                width: 28px;
                height: 28px;
            }

            .icon {
                padding: .5rem;
            }
        }
    }

    .music-container {
        .music {
            background-color: none;
            color: #fff;
            padding: 1rem;

            .title {
                font-size: 3rem;
            }

            p {
                font-size: 2.5rem;
                margin: 0;
                font-family: Proxima Nova Extra Condensed, Extrabold;
            }
        }
    }
}