.music-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/7bb9df37-9012-4cdc-1f95-f9d4844d2400/mobile");

    @include breakpoint(medium) {
        background-image: url("https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/7bb9df37-9012-4cdc-1f95-f9d4844d2400/public");

    }

    .social-music {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3rem 0;


        @include breakpoint(large) {
            margin: 0;
            padding: 0 0 0 4rem;
        }

        img {
            width: 30px;
            height: 30px;
        }

        .icon {
            padding: 0 2rem;
            cursor: pointer;

            &:hover{
                opacity: .5;
            }

            @include breakpoint(medium) {
                padding: 2.5rem;
            }

            @include breakpoint(large) {
                padding: .5rem;
            }
        }
    }

    .social-title {
        display: flex;
        flex-direction: column;

        @include breakpoint(large) {
            flex-direction: row;
        }
    }

    .music-container {
        .col {
            margin: 3.5rem auto;
        }

        img {
            max-height: 360px;
        }

        .music {
            background-color: none;
            color: #fff;

            .title {
                padding: 1rem 0 0 0;
                font-size: 2.1rem;
            }

            p {
                font-size: 1.8rem;
                margin: 0;
                font-family: montserrat, sans-serif;
                font-style: normal;
                font-weight: 900;
            }
        }
    }
}