.subscribe-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    background-image: url("https://i.imgur.com/jMP0Ykv.png");

    @include breakpoint(medium) {
        height: 600px;
    }

    .input-container {
        p {
            font-size: 2rem;
            width: 100%;
            color: #fff;
            font-weight: 700;
        }

        .email-container {
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: column;

            @include breakpoint(medium) {
                height: 400px;
            }


            #mc_embed_signup {
                color: #fff;
                display: flex;
                flex-direction: row;
                max-width: 400px;
                width: 100%;
                font-size: 2rem;
                font-family: montserrat, sans-serif;
                font-style: normal;
                font-weight: 700;


                .indicates-required {
                    padding: 1rem 0;
                }


                label {
                    color: #fff;

                }

                .clear {
                    input {
                        background-color: #fff;
                        width: 100%;
                        max-width: 400px;
                        color: #000000;

                        &:hover {
                            background-color: #DCC552;
                            border: 4px solid#DCC552;
                        }


                    }
                }

                input {
                    background-color: transparent;
                    border: 4px solid #fff;
                    border-radius: 0;

                }
            }
        }
    }
}