.subscribe-section {
    background-image: url("https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/d84fb9a9-5aa5-4a4d-edcb-6f502a066100/public");

    @include breakpoint(medium) {
        height: 600px;
    }

    .input-container {
        p {
            font-size: 2.7rem;
            width: 100%;
            color: #fff;
        }

        .email-container {
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: column;

            @include breakpoint(medium) {
                height: 400px;
            }

            #mc_embed_signup {
                color: #fff;
                max-width: 400px;
                width: 100%;

                .indicates-required {
                    padding: 1rem 0;
                }


                label {
                    color: #fff;

                }

                input {
                    background-color: transparent;
                    border: 2px solid #fff;

                }
            }
        }
    }
}