.three-row-cont {
    background-color: #FFFFFF;
    padding: 4rem 2rem;

    .container {
        max-width: 100%;
        max-width: 1200px;

        .vid-title{
            text-align: left;
            padding: 2rem 0 6rem 0;
            h2{
                margin: 0;
            }
        }
    }
}

.three-row-cont {
    background-color: #fff;

    iframe {
        margin: 0;
    }

    .img-text {
        background-color: #252525;
        color: #fff;
        padding: 1rem;
        margin: 0 0 2rem 0;

        p {
            font-size: 2.1rem;
            font-family: Proxima Nova Extra Condensed, Extrabold;
        }

        .small-text {
            color: #5E5E5E;
        }
    }
}